<h1>Editing animated gif</h1>

<%= render "form", animated_gif: @animated_gif %>

<br>

<div>
  <%= link_to "Show this animated gif", @animated_gif %> |
  <%= link_to "Back to animated gifs", animated_gifs_path %>
</div>
